$plum: #dda0dd;

.button_1{
    color:black;
    background-color: $plum;
    outline: none;
    border-radius: 5px;
    border: none;
}

.TodoForm{
    width: 512px;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid  $plum;
    padding: 1rem; 
}

.text_1{
    color:mediumslateblue; 
}

.TodoList{
    color:darkslateblue;
    

}
.TodoList:hover{
    color:red;
    background-color: lightgrey;
    
}

